* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1vw;
  letter-spacing: 2px;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.app .layout {
  position: relative;
}
.app .layout .wrapper {
  background-image: url("/public/Icons/bg.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(5px);
  z-index: -500;
}
.app .layout .nav {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px;
}
.app .layout .nav .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 25px;
}
.app .layout .nav .cont .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
}
.app .layout .nav .cont .list a {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0px 30px;
  color: grey;
  border-radius: 2px;
  font-size: 1vw;
}
.app .layout .nav .cont .list a:hover {
  color: black;
}
.app .layout .nav .cont .list a.active {
  color: black;
  cursor: default;
}
@media (max-width: 1150px) {
  .app .layout .nav .cont .list {
    min-width: 100%;
    font-size: 2vw;
  }
  .app .layout .nav .cont .list a {
    min-width: 100%;
    padding: 5px;
    border-bottom: 1px solid silver;
  }
  .app .layout .nav .cont .list a:hover {
    color: black;
    border-bottom: 1px solid black;
  }
  .app .layout .nav .cont .list a.active:hover {
    color: black;
    border-bottom: 1px solid black;
  }
}
.app .layout .nav .cont .login {
  padding: 20px 15px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 1vw;
}
.app .layout .nav .cont .login:hover {
  filter: brightness(1.5);
}
@media (max-width: 1150px) {
  .app .layout .nav .cont .login {
    display: none;
  }
  .app .layout .nav .cont .login.open {
    display: block;
    width: 100%;
    font-size: 2vw;
  }
}
.app .layout .nav .cont .burger-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.app .layout .nav .cont .burger-cont img {
  width: 50px;
}
.app .layout .nav .cont .burger-cont .burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.app .layout .nav .cont .burger-cont .burger:hover {
  cursor: pointer;
}
@media (max-width: 1150px) {
  .app .layout .nav .cont .burger-cont .burger {
    display: flex;
  }
}
.app .layout .nav .cont .burger-cont .burger .line {
  width: 30px;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
  border-radius: 25px;
}
.app .layout .nav .cont .burger-cont .burger.burger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(6.5px, 6.5px) scale(120%);
}
.app .layout .nav .cont .burger-cont .burger.burger.open .line:nth-child(2) {
  opacity: 0;
}
.app .layout .nav .cont .burger-cont .burger.burger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px) scale(120%);
}
@media (max-width: 1150px) {
  .app .layout .nav .cont .burger-cont {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .app .layout .nav .cont {
    flex-direction: column;
    align-items: flex-start;
  }
  .app .layout .nav .cont .list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0px;
  }
  .app .layout .nav .cont .list a {
    padding: 10px 10px;
    margin: 3px 0px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: start;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .app .layout .nav .cont .list a:hover {
    color: black;
  }
  .app .layout .nav .cont .list a.active {
    color: white;
    background-color: black;
  }
  .app .layout .nav .cont .list.open {
    display: flex;
  }
}
.app .layout .home {
  overflow: hidden;
}
.app .layout .home .hero {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0px auto;
  position: relative;
  color: white;
  letter-spacing: 2px;
  font-size: 3.5vw;
}
.app .layout .home .hero .heading-1 {
  position: absolute;
  top: 10%;
  left: 20%;
}
.app .layout .home .hero .heading-2 {
  position: absolute;
  top: 23%;
  left: 20%;
}
.app .layout .home .hero img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.8);
  z-index: -1;
}
.app .layout .home .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}
.app .layout .home .text h1 {
  letter-spacing: 2px;
  font-size: 3.5vw;
  font-weight: 400;
  margin: 20px 0px;
  align-self: center;
}
.app .layout .home .text .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0px 10%;
}
@media screen and (max-width: 1100px) {
  .app .layout .home .text .services {
    padding: 0;
  }
}
.app .layout .home .text .services .services-list {
  list-style: none;
  width: 100%;
  align-self: flex-start;
}
.app .layout .home .text .services .services-list li {
  letter-spacing: 2px;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  justify-content: center;
  font-size: 1.7vw;
  letter-spacing: 2px;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px 0px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app .layout .home .text .services .services-list li img {
  max-width: 1.5vw;
  margin-right: 5px;
}
@media screen and (max-width: 1100px) {
  .app .layout .home .text .services .services-list li img {
    max-width: 2vw;
  }
}
.app .layout .home .featured {
  margin: 50px;
}
.app .layout .home .featured .header {
  font-size: 3.5vw;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}
.app .layout .home .featured h1 {
  font-size: 3.5px;
  font-weight: 400;
  letter-spacing: 3px;
}
.app .layout .home .featured .cards {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
.app .layout .home .featured .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35%;
  padding-bottom: 10px;
  background-color: rgb(248, 248, 248);
  border: 2px solid rgb(235, 235, 235);
  border-radius: 3px;
}
.app .layout .home .featured .cards .card img {
  width: 500px;
  aspect-ratio: 3/2;
}
@media screen and (max-width: 650px) {
  .app .layout .home .featured .cards .card img {
    width: 90%;
  }
}
.app .layout .home .featured .cards .card .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.app .layout .home .featured .cards .card .text h1 {
  text-align: center;
  width: 100%;
  font-size: 1.5vw;
  letter-spacing: 3px;
  margin: 15px;
  color: grey;
}
@media screen and (max-width: 1100px) {
  .app .layout .home .featured .cards .card .text h1 {
    font-size: 3.5vw;
  }
}
.app .layout .home .featured .cards .card .text .parts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.app .layout .home .featured .cards .card .text .parts p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1vw;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: start;
  margin: 10px;
  color: grey;
}
.app .layout .home .featured .cards .card .text .parts p img {
  width: 1.5vw;
  margin: 0px 10px;
}
@media screen and (max-width: 1100px) {
  .app .layout .home .featured .cards .card .text .parts p img {
    width: 2vw;
  }
}
@media screen and (max-width: 1100px) {
  .app .layout .home .featured .cards .card .text .parts p {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 700px) {
  .app .layout .home .featured .cards .card .text .parts p {
    font-size: 2vw;
  }
}
.app .layout .home .details {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.app .layout .home .details h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 3.5vw;
  font-weight: 400;
  margin: 25px;
}
@media screen and (max-width: 750px) {
  .app .layout .home .details h1 {
    font-size: 8vw;
  }
}
.app .layout .home .details .process {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  margin: 50px 0px;
}
.app .layout .home .details .process h1 {
  text-align: start;
  font-size: 2.5vw;
  letter-spacing: 2px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .app .layout .home .details .process h1 {
    font-size: 3.5vw;
  }
}
.app .layout .home .details .process .process-list {
  list-style: none;
  font-size: 1.2vw;
  letter-spacing: 2px;
  line-height: 1.5;
}
.app .layout .home .details .process .process-list h1 {
  width: 100%;
  margin: 0px;
}
@media screen and (max-width: 750px) {
  .app .layout .home .details .process .process-list {
    font-size: 2.5vw;
  }
}
.app .layout .home .details .process .process-list li {
  margin: 50px 0px;
  text-wrap: wrap;
  line-height: 1.5;
}
.app .layout .home .details .process .process-list li h1 {
  font-size: 1.5vw;
  margin: 25px 0px;
}
@media screen and (max-width: 780px) {
  .app .layout .home .details .process .process-list li h1 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  .app .layout .home .details .process .process-list li h1 {
    font-size: 2.5vw;
  }
}
.app .layout .home .details .process .process-list li p {
  font-size: 1.1vw;
}
@media screen and (max-width: 780px) {
  .app .layout .home .details .process .process-list li p {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 500px) {
  .app .layout .home .details .process .process-list li p {
    font-size: 2vw;
  }
}
.app .layout .home .details .customs,
.app .layout .home .details .support {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}
.app .layout .home .details .customs h1,
.app .layout .home .details .support h1 {
  text-align: start;
  font-size: 2.5vw;
  letter-spacing: 2px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .app .layout .home .details .customs h1,
  .app .layout .home .details .support h1 {
    font-size: 3.5vw;
  }
}
.app .layout .home .details .customs p,
.app .layout .home .details .support p {
  padding: 0px 45px;
  font-size: 1.2vw;
  letter-spacing: 2px;
}
@media screen and (max-width: 750px) {
  .app .layout .home .details .customs p,
  .app .layout .home .details .support p {
    font-size: 2.5vw;
  }
}
.app .layout .about {
  width: 100%;
  overflow: hidden;
}
.app .layout .about .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 50px;
}
.app .layout .about .story h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 15px 0px;
}
.app .layout .about .story p {
  width: 80%;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0px;
  text-align: center;
  line-height: 1.5;
}
.app .layout .about .mission {
  margin: 0px 50px;
}
.app .layout .about .mission .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .layout .about .mission .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.app .layout .about .mission .cards .card h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
}
.app .layout .about .mission .cards .card p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 80%;
  text-align: center;
  margin: 25px 0px;
  line-height: 25px;
}
.app .layout .about .message {
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .layout .about .message h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
}
.app .layout .about .message p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 80%;
  text-align: center;
  margin: 25px 0px;
  line-height: 25px;
}
.app .layout .about .import {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.app .layout .about .import h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
}
.app .layout .about .import .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.app .layout .about .import .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  width: 80%;
}
.app .layout .about .import .cards .card h1 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 25px 0px;
  width: 90%;
}
.app .layout .about .import .cards .card p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 80%;
  text-align: center;
  margin: 25px 0px;
  line-height: 1.5;
}
.app .layout .about .cst-test {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 50px;
  overflow-x: hidden;
}
.app .layout .about .cst-test h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 50px 0px;
}
@media screen and (max-width: 650px) {
  .app .layout .about .cst-test h1 {
    font-size: 7.5vw;
  }
}
.app .layout .about .cst-test .carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: 100px 0px 50px 0px;
}
.app .layout .about .cst-test .carousel .carousel-inner {
  display: inline-block;
  animation: slide-left 10s linear infinite;
  white-space: nowrap;
}
.app .layout .about .cst-test .carousel .carousel-inner h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 150px;
}
.app .layout .about .faqs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app .layout .about .faqs h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 50px 0px;
}
@media screen and (max-width: 650px) {
  .app .layout .about .faqs h1 {
    font-size: 7.5vw;
  }
}
.app .layout .about .faqs .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px;
}
.app .layout .about .faqs .card h1 {
  font-size: 34px;
  padding: 5px 20px;
  width: 100%;
  margin: 15px 0px;
  text-align: start;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .app .layout .about .faqs .card h1 {
    font-size: 2.5vw;
  }
}
.app .layout .about .faqs .card p {
  padding-left: 25px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 80%;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}
@media screen and (max-width: 650px) {
  .app .layout .about .faqs .card p {
    font-size: 2vw;
  }
}
.app .layout .about .faqs .card p.show {
  max-height: 100px;
  opacity: 1;
}
.app .layout .inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .layout .inventory .featured {
  margin: 50px;
}
.app .layout .inventory .featured .header {
  font-size: 3vw;
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .app .layout .inventory .featured .header {
    font-size: 4.5vw;
  }
}
.app .layout .inventory .featured h1 {
  font-size: 3.5px;
  font-weight: 400;
  letter-spacing: 3px;
}
.app .layout .inventory .featured .cards {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
.app .layout .inventory .featured .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35%;
  padding-bottom: 10px;
  background-color: rgb(248, 248, 248);
  border: 2px solid rgb(235, 235, 235);
  border-radius: 3px;
}
.app .layout .inventory .featured .cards .card img {
  width: 500px;
  aspect-ratio: 3/2;
  margin-bottom: 20px;
}
@media screen and (max-width: 650px) {
  .app .layout .inventory .featured .cards .card img {
    width: 90%;
  }
}
.app .layout .inventory .featured .cards .card .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .layout .inventory .featured .cards .card .text h1 {
  text-align: center;
  width: 100%;
  font-size: 1.5vw;
  letter-spacing: 3px;
  margin: 15px;
}
@media screen and (max-width: 1100px) {
  .app .layout .inventory .featured .cards .card .text h1 {
    font-size: 3.5vw;
  }
}
.app .layout .inventory .featured .cards .card .text .parts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.app .layout .inventory .featured .cards .card .text .parts p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1vw;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: start;
  margin: 10px;
  color: grey;
}
.app .layout .inventory .featured .cards .card .text .parts p img {
  width: 1.5vw;
  margin: 0px 10px;
}
@media screen and (max-width: 1100px) {
  .app .layout .inventory .featured .cards .card .text .parts p img {
    width: 2vw;
  }
}
@media screen and (max-width: 1100px) {
  .app .layout .inventory .featured .cards .card .text .parts p {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 700px) {
  .app .layout .inventory .featured .cards .card .text .parts p {
    font-size: 2vw;
  }
}
.app .layout .inventory .car-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}
.app .layout .inventory .car-list .car-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  padding: 25px 50px;
  border-bottom: 1px solid lightgray;
}
@media screen and (max-width: 650px) {
  .app .layout .inventory .car-list .car-nav {
    flex-direction: column;
    padding: 25px 0px;
    width: 100%;
  }
}
.app .layout .inventory .car-list .car-nav h1 {
  font-size: 2.5vw;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (max-width: 650px) {
  .app .layout .inventory .car-list .car-nav h1 {
    font-size: 3.5vw;
    margin: 25px;
  }
}
.app .layout .inventory .car-list .car-nav .search-bar {
  display: flex;
  justify-content: center;
  width: 45%;
}
@media screen and (max-width: 650px) {
  .app .layout .inventory .car-list .car-nav .search-bar {
    width: 80%;
  }
}
.app .layout .inventory .car-list .car-nav .search-bar .search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}
.app .layout .inventory .car-list .car-nav .search-bar .search-input:focus {
  border-color: grey; /* Change to your preferred theme color */
  box-shadow: 0 0 5px rgba(173, 173, 173, 0.5);
}
.app .layout .inventory .car-list .filtered-cars {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin: 50px;
}
.app .layout .inventory .car-list .filtered-cars .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35%;
  padding-bottom: 10px;
  background-color: rgb(248, 248, 248);
  border: 2px solid rgb(235, 235, 235);
  border-radius: 3px;
}
.app .layout .inventory .car-list .filtered-cars .card img {
  width: 500px;
  aspect-ratio: 3/2;
  margin-bottom: 20px;
}
@media screen and (max-width: 650px) {
  .app .layout .inventory .car-list .filtered-cars .card img {
    width: 90%;
  }
}
.app .layout .inventory .car-list .filtered-cars .card p {
  width: 100%;
  text-align: center;
  font-size: 1vw;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 10px;
  color: grey;
}
@media screen and (max-width: 1100px) {
  .app .layout .inventory .car-list .filtered-cars .card p {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 700px) {
  .app .layout .inventory .car-list .filtered-cars .card p {
    font-size: 2vw;
  }
}
.app .layout .car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .layout .car-details .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .card {
    width: 90%;
  }
}
.app .layout .car-details .card img {
  width: 65%;
  margin: 50px;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .card img {
    width: 75%;
  }
}
.app .layout .car-details .card .general {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .app .layout .car-details .card .general {
    flex-direction: column;
    align-items: flex-start;
  }
}
.app .layout .car-details .card .general p {
  font-size: 1vw;
  letter-spacing: 2px;
}
@media screen and (max-width: 750px) {
  .app .layout .car-details .card .general p {
    font-size: 2vw;
    margin: 5px 0px;
  }
}
.app .layout .car-details .gallary {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.app .layout .car-details .gallary .images {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin: 50px auto;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .gallary .images {
    flex-direction: column;
  }
}
.app .layout .car-details .gallary .images img {
  width: 30%;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .gallary .images img {
    width: 90%;
  }
}
.app .layout .car-details .details {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .details {
    width: 90%;
    margin: 25px auto;
  }
}
.app .layout .car-details .details .special-features, .app .layout .car-details .details .engine-specs, .app .layout .car-details .details .exterior, .app .layout .car-details .details .interior {
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}
.app .layout .car-details .details .special-features h1, .app .layout .car-details .details .engine-specs h1, .app .layout .car-details .details .exterior h1, .app .layout .car-details .details .interior h1 {
  margin: 20px 0px;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .details .special-features h1, .app .layout .car-details .details .engine-specs h1, .app .layout .car-details .details .exterior h1, .app .layout .car-details .details .interior h1 {
    font-size: 2.5vw;
  }
}
.app .layout .car-details .details .special-features p, .app .layout .car-details .details .engine-specs p, .app .layout .car-details .details .exterior p, .app .layout .car-details .details .interior p {
  font-size: 0.9vw;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 400;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .details .special-features p, .app .layout .car-details .details .engine-specs p, .app .layout .car-details .details .exterior p, .app .layout .car-details .details .interior p {
    font-size: 2vw;
  }
}
.app .layout .car-details .description {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .description {
    width: 90%;
  }
}
.app .layout .car-details .description h1 {
  margin: 20px 0px;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .description h1 {
    font-size: 2.5vw;
  }
}
.app .layout .car-details .description p {
  font-size: 0.9vw;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 400;
}
@media screen and (max-width: 850px) {
  .app .layout .car-details .description p {
    font-size: 2vw;
  }
}
.app .layout .services {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  overflow: hidden;
}
.app .layout .services .service {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}
.app .layout .services .service h1 {
  font-size: 2.5vw;
  font-weight: 400;
  margin: 20px 0px;
  letter-spacing: 2px;
}
@media screen and (max-width: 650px) {
  .app .layout .services .service h1 {
    font-size: 4.5vw;
  }
}
.app .layout .services .service p {
  text-align: center;
  width: 50%;
  margin: 50px auto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
}
.app .layout .services .contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
  margin-top: 100px;
}
.app .layout .services .contact-us h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  margin: 20px 0px;
  letter-spacing: 2px;
}
@media screen and (max-width: 550px) {
  .app .layout .services .contact-us h1 {
    font-size: 7.5vw;
  }
}
.app .layout .services .contact-us p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 50px;
}
@media screen and (max-width: 550px) {
  .app .layout .services .contact-us p {
    font-size: 3.5vw;
  }
}
.app .layout .services .contact-us form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
  margin: 20px 0px 150px 0px;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
.app .layout .services .contact-us form .input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.app .layout .services .contact-us form .input label {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 5px 0px;
}
.app .layout .services .contact-us form .input input {
  width: 25rem;
  height: 3rem;
  padding: 5px 10px;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 400;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.03);
}
@media screen and (max-width: 550px) {
  .app .layout .services .contact-us form .input input {
    width: 55vw;
  }
}
.app .layout .services .contact-us form .input textarea {
  width: 25rem;
  height: 7rem;
  padding: 5px 10px;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 400;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  resize: vertical;
}
@media screen and (max-width: 550px) {
  .app .layout .services .contact-us form .input textarea {
    width: 55vw;
  }
}
.app .layout .services .contact-us form button {
  width: 25rem;
  height: 3rem;
  background-color: black;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  margin-top: 30px;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .app .layout .services .contact-us form button {
    width: 55vw;
  }
}
.app .layout .services .import {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.app .layout .services .import h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
}
@media screen and (max-width: 550px) {
  .app .layout .services .import h1 {
    font-size: 7.5vw;
  }
}
.app .layout .services .import .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.app .layout .services .import .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.app .layout .services .import .cards .card h1 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .app .layout .services .import .cards .card h1 {
    font-size: 5.5vw;
  }
}
.app .layout .services .import .cards .card p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 80%;
  text-align: center;
  margin: 25px 0px;
  line-height: 25px;
}
@media screen and (max-width: 550px) {
  .app .layout .services .import .cards .card p {
    font-size: 3.5vw;
  }
}
.app .layout .services .cst-test {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 50px;
  overflow-x: hidden;
}
.app .layout .services .cst-test h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 50px 0px;
}
@media screen and (max-width: 650px) {
  .app .layout .services .cst-test h1 {
    font-size: 7.5vw;
  }
}
.app .layout .services .cst-test .carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: 100px 0px 50px 0px;
}
.app .layout .services .cst-test .carousel .carousel-inner {
  display: inline-block;
  animation: slide-left 10s linear infinite;
  white-space: nowrap;
}
.app .layout .services .cst-test .carousel .carousel-inner h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 150px;
}
.app .layout .services .faqs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app .layout .services .faqs h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 50px 0px;
}
@media screen and (max-width: 650px) {
  .app .layout .services .faqs h1 {
    font-size: 7.5vw;
  }
}
.app .layout .services .faqs .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px;
}
.app .layout .services .faqs .card h1 {
  font-size: 34px;
  padding: 5px 20px;
  width: 100%;
  margin: 15px 0px;
  text-align: start;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .app .layout .services .faqs .card h1 {
    font-size: 3vw;
  }
}
.app .layout .services .faqs .card p {
  padding-left: 25px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 80%;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}
@media screen and (max-width: 650px) {
  .app .layout .services .faqs .card p {
    font-size: 2.5vw;
  }
}
.app .layout .services .faqs .card p.show {
  max-height: 100px;
  opacity: 1;
}
.app .layout .contact .contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
  margin-top: 100px;
}
.app .layout .contact .contact-us h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  margin: 20px 0px;
  letter-spacing: 2px;
}
@media screen and (max-width: 550px) {
  .app .layout .contact .contact-us h1 {
    font-size: 7.5vw;
  }
}
.app .layout .contact .contact-us p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 50px;
}
@media screen and (max-width: 550px) {
  .app .layout .contact .contact-us p {
    font-size: 3.5vw;
  }
}
.app .layout .contact .contact-us form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
  margin: 20px;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
.app .layout .contact .contact-us form .input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.app .layout .contact .contact-us form .input label {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 5px 0px;
}
.app .layout .contact .contact-us form .input input {
  width: 25rem;
  height: 3rem;
  padding: 5px 10px;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 400;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.03);
}
@media screen and (max-width: 550px) {
  .app .layout .contact .contact-us form .input input {
    width: 55vw;
  }
}
.app .layout .contact .contact-us form .input textarea {
  width: 25rem;
  height: 7rem;
  padding: 5px 10px;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 400;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  resize: vertical;
}
@media screen and (max-width: 550px) {
  .app .layout .contact .contact-us form .input textarea {
    width: 55vw;
  }
}
.app .layout .contact .contact-us form button {
  width: 25rem;
  height: 3rem;
  background-color: black;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  margin-top: 30px;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .app .layout .contact .contact-us form button {
    width: 55vw;
  }
}
.app .layout .contact .team {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  margin-top: 100px;
}
.app .layout .contact .team h1 {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 2px;
}
.app .layout .contact .team .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0px;
}
.app .layout .contact .team .cards .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0px;
}
.app .layout .contact .team .cards .card img {
  max-width: 250px;
  aspect-ratio: 1/1;
}
.app .layout .contact .team .cards .card .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 20px 0px;
}
.app .layout .contact .team .cards .card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2px;
  text-align: start;
}
.app .layout .contact .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 100px 50px;
  background-color: white;
  padding: 50px;
}
@media screen and (max-width: 1400px) {
  .app .layout .contact .details {
    flex-direction: column;
  }
}
.app .layout .contact .details .contact-details {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1400px) {
  .app .layout .contact .details .contact-details {
    width: 80%;
  }
}
.app .layout .contact .details .contact-details .phone {
  display: flex;
  flex-direction: column;
}
.app .layout .contact .details .contact-details .phone img {
  width: 150px;
  aspect-ratio: 1/1;
  align-self: center;
  margin: 25px 0px;
}
@media screen and (max-width: 600px) {
  .app .layout .contact .details .contact-details .phone img {
    width: 15vw;
  }
}
.app .layout .contact .details .contact-details .phone h1 {
  align-self: center;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .app .layout .contact .details .contact-details .phone h1 {
    font-size: 4.5vw;
  }
}
.app .layout .contact .details .contact-details .phone p {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}
.app .layout .contact .details .contact-details .phone p img {
  width: 40px;
  margin: 10px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 600px) {
  .app .layout .contact .details .contact-details .phone p img {
    width: 3.5vw;
  }
}
.app .layout .contact .details .contact-details .social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .layout .contact .details .contact-details .social-media h1 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px 0px;
}
@media screen and (max-width: 600px) {
  .app .layout .contact .details .contact-details .social-media h1 {
    font-size: 3.5vw;
  }
}
.app .layout .contact .details .contact-details .social-media .imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app .layout .contact .details .contact-details .social-media .imgs a {
  margin: 10px;
}
.app .layout .contact .details .contact-details .social-media .imgs a img {
  width: 50px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 600px) {
  .app .layout .contact .details .contact-details .social-media .imgs a img {
    width: 7.5vw;
  }
}
.app .layout .contact .details .map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .app .layout .contact .details .map {
    width: 80%;
  }
}
.app .layout .contact .details .map h1 {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .app .layout .contact .details .map h1 {
    font-size: 3.5vw;
  }
}
.app .layout .contact .details .map iframe {
  margin: 30px 0px;
}
@media screen and (max-width: 1400px) {
  .app .layout .contact .details .map iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
@media screen and (max-width: 750px) {
  .app .layout .contact .details .map iframe {
    width: 65vw;
    height: 35vw;
  }
}
.app .layout .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
  margin-top: 100px;
}
.app .layout .footer .line-break {
  background-color: white;
  width: 90%;
  height: 2px;
  margin: auto;
}
.app .layout .footer .social-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}
.app .layout .footer .social-media p {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 2px;
  font-size: 1.2vw;
}
@media screen and (max-width: 750px) {
  .app .layout .footer .social-media p {
    font-size: 1.5vw;
  }
}
.app .layout .footer .social-media p img {
  width: 3vw;
  margin-right: 5px;
}
.app .layout .footer p {
  color: white;
  padding: 20px;
  letter-spacing: 3px;
  font-size: 1.2vw;
}
@media screen and (max-width: 750px) {
  .app .layout .footer p {
    font-size: 1.5vw;
  }
}/*# sourceMappingURL=style.css.map */